.wrapper {
  text-align: center;
  }
  
.countdown {
  display: flex;
  text-align: center;
  }

.countdown .day,
.countdown .hour,
.countdown .min,
.countdown .sec {
  color: #000;
  padding: 1vw 3vw;
  text-align: center;
  }
  
.countdown .day .num,
.countdown .hour .num,
.countdown .min .num,
.countdown .sec .num {
  display: block;
  font-size: 8vw;
  line-height: 1em;
  }

.countdown .day .word,
.countdown .hour .word,
.countdown .min .word,
.countdown .sec .word {
  display: block;
  font-size: 2vw;
  color: #8a99ab;
  }
  
.waktu {
  display: flex;
  /*position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);*/
	text-align: center;
	width: 100%;
}